<mat-card>
<div class="friends-list-menu">
  <div class="friends-list-title">
    <mat-card-title>Friends List</mat-card-title>
    <mat-card-subtitle>This is a list of friends</mat-card-subtitle>
  </div>
  <div class="friend-add-button">
    <button mat-raised-button mat-button [routerLink]="['/friends/add']">Add friend</button>
  </div>
</div>
  <mat-card-content class="friends-list-content">

    <table mat-table [dataSource]="friends" class="mat-elevation-z2 friends-table">

      <ng-container matColumnDef="friend-id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let friend">{{friend.friendId}}</td>
      </ng-container>

      <ng-container matColumnDef="first-name">
        <th mat-header-cell *matHeaderCellDef>Frist name</th>
        <td mat-cell *matCellDef="let friend">{{friend.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="last-name">
        <th mat-header-cell *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let friend">{{friend.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef>Birthday</th>
        <td mat-cell *matCellDef="let friend">{{friend.birthday}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visibleColumnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: visibleColumnNames"></tr>
    </table>
  </mat-card-content>
</mat-card>
